* {
  box-sizing: border-box;
  font-family: 'Quasimoda', arial, helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: inline-flex;
  padding: 10px;
  justify-content: space-between;
  flex-basis: auto;
  background: #e1eaf0;
}

h1, h2, h3 {
  font-weight: 400;
  position: -webkit-sticky;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  position: -webkit-sticky;
}

h2 {
  font-size: 1.3em;
  text-align: center;
  position: -webkit-sticky;
}

p {
  color: #000;
  height: 80%;
  padding: 20px;
  overflow: scroll;
}

p1 {
  color: #000;
  height: 80%;
  padding: 20px;
  overflow: visible;
}
a {
  text-decoration: none;
  color: #208bd3;
}

a:hover{
  color: #3cff00;
}

.wrapper {
  padding: 10px 1vw;
}

.inner {
  background: #ffffff;
  color: #000;
  border: 1px solid #000;
  height: 100%;
  padding: 15px;
  overflow: scroll;
  transition: border-radius 0.2s;
  position: relative;
}

.inner:hover {
  border-radius: 30px;
  border-width: 5px;
  border-color: #050505;
  background-color: #86abc4;
  color: #000;
}

.invert {
  background: #000;
  color: #ffffff
}

.bio {
  color: #000;
  transition: color 0.4s;
  text-align: center;
}

.bio a {
  margin: 20px 0px;
}

.section-header {
  width: 100%;
  background: #ffffff;
  margin: -15px 0px 0px;
  top: -15px;
  padding: 15px 0px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  text-align: center;
}

.section-header p {
  display: none;
}
/*  
.invert .section-header {
  background: #000;
  color: #ffffff;
}

.invert .section-header.inner:hover{
  color: #000;
}
-----not in use end---------------- */ 

.stories-block {
  width: 100%;
  min-height: 250px;
  margin: 20px 0px;
}

.stories-block ~ .stories-block  {
  border-top: 1px solid #000;
}

.storysummary {
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
}

.news-header h1 {
  padding: 0px 50px;
}

.news-block {
  border: 1px solid #ffffff;
  width: 100%;
  margin: 20px 0px;
  padding: 30px;
  text-align: center;
  transition: background 0.4s, color 0.4s;
}

.news-block:hover {
  background: #ffffff;
  color: #000;
}

.news-block span {
  background: #ffffff;
  padding: 4px 6px;
  margin: 5px 5px;
  color: #000;
  font-size: 0.7em;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
}

.news-block:hover span {
  background: #000;
  color: #000;
}
/* don't need anymore? ------------ 
.story {
  background: #000;
  margin: 30px 0px 0px 30px;
  padding: 10px;
  width: 20%;
  height: calc(130px + 2.5vw);
  color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: top;
  position: relative;
  transition: transform 0.4s, color 0.4s, background 0.4s;
  border: 1px solid #000;
}

.story p {
  margin: 5px;
}

.story:hover {
  transform: rotate(5deg);
  background: #ffffff;
  color: #000;
}

.story p {
  font-size: 0.8em;
  text-align: center;
}

.description {
  width: 60%;
  max-width: 450px;
  margin: 20px 30px;
  display: inline-block;
}

.description p {
  font-size: 0.95em;
}

.pipe {
  display: none;
}     ----- not in use ---------------- */

/* ------------RESPONSIVE ---------------- */ 

@media only screen and (max-width: 1320px) {
  .book {
    display: flex;
    margin: 30px auto 10px;
    width: 120px;
    height: calc(150px + 2.5vw);
  }
  .description {
    width: 100%;
    display: block;
    max-width: none;
    margin: 0;
    padding: 20px;
  }
}

.rotate {
  transform-origin: center;
  transform: rotate(90deg);
  white-space: normal;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

h4.rotate {
  margin-top: 20px;
}

p.rotate {
  font-size: calc(0.5em + 0.8vh);
  margin: 0px -100px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#a {
  flex-grow: 4;
  min-width: 15%;
  max-width: 16%;
}

#b {
  flex-grow: 16;
}

#c {
  flex-grow: 12;
  max-width: 35%;
  min-width: 30%;
}

#d {
  flex-grow: 1.4;
  max-width: 100px;
}

@media only screen and (max-width: 960px) {
  body {
    display: flex;
    flex-direction: column;
    height: unset;
    min-height: 100vh;
  }

  .wrapper {
    min-width: auto;
    max-width: none;
    width: 100%;
  }

  #a {
    flex-grow: 1;
    min-width: auto;
    max-width: none;
    width: 100%;
  }

  #a .invert, #a .bio, #a:hover {
    border: none;
    background: #ffffff;
    color: #000 !important;
  }

  #b {
    flex-grow: 1;
    min-width: auto;
    max-width: none;
    width: 100%;
  }

  #c {
    flex-grow: 1;
    min-width: auto;
    max-width: none;
    width: 100%;
  }

  #d {
    flex-grow: 1;
    min-width: auto;
    max-width: none;
    width: 100%;
  }
/* ------------RESPONSIVE END ---------------- */ 

  .inner {
    width: 100%;
    border-radius: 15px;
  }

  .inner:hover {
    border-radius: 0px;
  }

  .rotate {
    transform: none;
  }

  p.rotate {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    margin: 5px 0px 15px;
  }

  .bio {
    color: #ffffff;
  }

  .circle {
    display: none;
  }

  .section-header {
    cursor: pointer;
  }

  .section-header p {
    display: block;
  }

  .hide {
    display:none !important;
  }

  .show {
    display: block;
  }

  .pipe {
    display: inline;
  }
}


/* ------------BOXES IN PAGES ---------------- */ 
/* ---ABOUT---*/
.container{
  display:flex;
}

/* ---CONNECT---*/

.button {
  border-color: #000;
  background-color: #8cb3d1;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0.5px 1px;
  cursor: pointer;
  }

  .button:hover {
    background-color: #ffffff;
    border-radius: 20px;
    border-width: 3px;
    border-color: #050505;
  }

  /* ---CONNECT---*/

.button {
  border-color: #000;
  background-color: #8cb3d1;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0.5px 1px;
  cursor: pointer;
  }

  .button:hover {
    background-color: #ffffff;
    border-radius: 20px;
    border-width: 3px;
    border-color: #050505;
  }

  /* Float 2 columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 20px;
  text-align: center;
  background-color: #e1eaf0;
}

/* LIBRARY - IMAGES  */

div.gallery {
  margin: 10px;
  border: 2px solid #000;
}

div.gallery:hover {
  border: 5px solid #000;
  border-radius: 20px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#cards {
  display:grid;
  grid-template-columns: repeat(3,1fr);

}